$light-white: #FFFFFF;
$dark-white: #FAFAFA;
$text-font-size: 20px;
$list-font-size: 18px;
$text-color: #112044;

html {
  scroll-behavior: smooth;
}

.container-fluid-rp {
  margin: 0;
  padding: 0;
}

#sticky-nav {
  background: linear-gradient(to top, #101D3B, #112044);
  color: white;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;

  #back-button {
    position: absolute;
    top: 100px;
    left: 20px;
    color: $light-white;
    font-size: 30px;
    &:hover {
      color: $dark-white;
    }
  }

  .project-navbar {
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 20px;
        a {
          text-decoration: none;
          color: white;
          font-size: 18px;
          transition: color 0.3s ease;
          &:hover {
            color: #eddde0;
          }
        }
      }
    }
  }
}

#project-content-rp {
  background: $light-white;
  color: $text-color;
  padding: 0px;
  width: 100%;

  #overview-rp {
    padding-top: 90px;
  }

  #overview-rp, #collaboration-rp, #deep-dive-rp, #contributions-rp {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
  }

  #implementation-rp, #troubleshooting-rp, #wrap-up-rp {
    background-color: $dark-white;
  }

  .project-section-rp {
    padding: 80px;

    h2 {
      font-size: 32px;
      margin-bottom: 30px;
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 10px;
    }

    p {
      font-size: $text-font-size;
    }

    li {
      font-size: $list-font-size;
      line-height: 1.6;
    }

    .content-block-rp {
      font-size: $text-font-size;
      line-height: 1.6;
      padding-right: 150px;
      margin-right: 50px;

    }
  }

  .overview-container-rp {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin-bottom: 10px;

    .project-details-rp {
      flex: 1;

      h1 {
        font-size: 48px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 10px;
      }

      .project-info-rp {
        font-size: 24px;
        margin-bottom: 30px;
      }

      .project-description-rp {
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 30px;
      }

      .project-links-rp {
        display: flex;
        gap: 20px;

        a {
          text-decoration: none;
          color: $text-color;
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 18px;

          &:hover {
            color: #8DBCB1;
          }

          i {
            font-size: 24px;
          }
        }
      }
    }

    .project-thumbnail-rp {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .feature-cards-rp {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .feature-card-rp {
      background: rgba(255, 255, 255, 0.05);
      padding-left: 30px;
      padding-bottom: 40px; // Add padding to create space before the border
      position: relative; // Required for the pseudo-element positioning

      // Add the subtle line using a pseudo-element
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(
          to right,
          rgba(128, 128, 128, 0.1),
          rgba(128, 128, 128, 0.3) 50%,
          rgba(128, 128, 128, 0.1)
        );
      }

      h3 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .feature-content-rp {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        padding: 0;

        #feature-image-rp {
          height: 490px;
          width: 780px;
          object-fit: cover;
          box-shadow: 3px 3px 10px 5px grey;
        }

        video {
          height: 530px;
          width: 830px;
        }

        .feature-description-rp {
          width: 100%;
          display: flex;
          justify-content: space-around;
          margin-top: 20px;


          p {
            font-size: 18px;
            line-height: 1.6;
          }
        }
      }
    }
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}
